@media screen and (max-width: 480px) {
  * { max-width: 100%; }
  body { font-family: helvetica,sans-serif;
	  width: 100%;
	  overflow-x: hidden;
	  font-size: 9px;
	  line-height: 16px; }
#masthead h2 {
position: absolute;
top: 10px;
left: 25px;

}

 /* Masthead - 480 */
#masthead #nav, #masthead ul.main-navigation {
	position: absolute;
	top: 50px;
	left: 20px;
	width: 400px;
	list-style: none outside none;
	margin: 0pt;
	padding: 0pt;
	wrap-option: true;
	 }

  #masthead #nav, #masthead ul.main-navigation {
	right: auto;
	left: auto;
	width: auto; }

  #masthead #nav li, #masthead ul.main-navigation li {
  margin: 0pt 0pt 0pt 6px;
  font-size: 16px;
  line-height:18px;
  }
   .flexslider li { height: 195px; }
  p { max-width: 98%; font-size: 11px; line-height: 17px; }
  #bottombar #contact dt {
  font-weight: normal; font-family: helvetica,sans-serif; font-style: normal; color: rgb(204, 204, 202); }
  dl { margin-bottom: 0pt; width: auto; }
  h2 {
	  width: auto;
	  font-weight: normal;
	  font-size: 18px;
	  line-height: 28px;
	  top: 20px;
	   }

  h3 { font-size: 21px;
	  line-height: 28px;
	  margin: 0pt 0pt 8px; }

  li { font-size: 11px;
	  line-height: 16px; }

    /* Masthead - 480 */

  #masthead { height: 100px;
	  top: auto;
	  position: relative;
	  width: 100%; }

  #sections h3 {
  margin: 0pt 0pt 16px;
  text-align: center;
  border: 0pt none;
  padding: 0pt; }

  #sections p strong { padding: 3px 0pt 8px; }
  #sections, #info {
	  border-bottom: 2px solid rgb(238, 238, 239);
	  margin-bottom: 28px;
	  padding-bottom: 28px; }

  #info {
	  border-bottom: 2px solid rgb(238, 238, 239);
	  padding-bottom: 8px;
	  margin-bottom: 24px; }

  #info p { font-size: 14px; line-height: 21px; margin: 0pt 0pt 21px; }


  .container { min-width: 87.5%; width: auto; margin: 0pt; padding: 0pt 6.5%; }

#info, #sections, #bottombar, #bottombar #contact, #sections .issue-details { float: none; width: 100%; }
  #info, #bottombar { padding: 20px 0pt; }
  #info { padding-bottom: 30px; }

  .site-appscient #masthead { height: 100px; }
  .site-appscient #masthead #callout { top: 150px; display: block; }
  #cta .container { max-width: 80%; }
.flexslider-container { background: url('images/sliderBkg.png') no-repeat; background-size: 100%; clear: both; height: 100%; margin: 0 auto; height: 328px; max-width: 1099px; width: 100%; }
.flexslider { background: rgba(229,118,61,.2); border: 1px solid rgba(183,91,43,.2); float: left; height: 60.670732%; margin: 6% 0 0 6.1%; max-height: 199px; max-width: 960px; overflow: hidden; width: 87.591241%; }
.flexslider ul, .flex-direction-nav ul { margin: 0; padding: 0; }
.flexslider li { height: 181px; }
.flexslider li, .flex-direction-nav li { list-style: none; }
.flexslider a { background: #fff; border: 1px solid rgba(183,91,43,.2); float: left; height: 98%; margin: 1%; max-height: 199px; overflow: hidden; text-align: center; width: 98%; }
.flexslider .slides img {max-width: 100%; }
.flexslider {position: relative; }
.flexslider .slides li { display:  none; position: relative;}
.flexslider-container {position: relative;}
.flex-direction-nav li a { border: none; width: 50px; height: 50px; margin: -20px 0 0; display: block; position: absolute; top: 50%; cursor: pointer; text-indent: -9999px;} /* set negative margin-top equal to half the height on the directional-nav for perfect vertical centering */
.flex-direction-nav li a.next {background: url(images/slideRight.png) no-repeat 0 0; right: 10px}
.flex-direction-nav li a.prev {background: url(images/slideLeft.png) no-repeat 0 0; left: 10px;}

/*
  #cta h3, #cta small { display: none; }
  #cta { padding-top: 20px; }
  #cta #ci-slideshow { margin-bottom: 20px; }
  #cta #ci-slideshow ul.slideshow-controls { margin: 1px 0pt 0pt; }
  #cta #ci-slideshow li a { padding-bottom: 20px; }

  #cta #buy-cta { position: relative; left: auto; top: auto; width: 280px; }
  #cta p { width: 100%; margin-top: 0pt; } */
  .mobile { background: url('') repeat scroll 0% 0% rgb(73, 71, 68); }

}

#sections p strong { color: rgb(255, 153, 0); }
/*
div#cta { background: none repeat scroll 0% 0% rgb(250, 250, 250);
	border-top: medium none;
	border-bottom: 1px solid rgb(230, 230, 232); }
*/
div#info { background: none repeat scroll 0% 0% rgb(255, 255, 255);
	border-top: medium none;
	border-bottom: 1px solid rgb(230, 230, 232); }

#sections { border-bottom: 1px solid rgb(230, 230, 232); }
#masthead, #masthead .container { height: 200px; }
