/*
	Name: Craig Booker
	Class: VFW
	Project: 1
	Date: 08/31/2011
*/



html {
    background-color: #CCCCCC;
}
body {
    font-family: "Arial", sans-serif;
    margin: 10px, 0px, 0px, 0px;
    padding: 10px, 0px, 0px, 0px;
    background-color: #E6E6E6;
    vertical-align: 0px;
    color: #4D4B39;
    max-width: 416px;
    border: 1px solid #000000;
}

h1 {
    margin: 10px 20px;
    border: ;
    padding: 10px;
    background: ;
    width: 50%;
    height: ;
    display: ;
    overflow: ;
    visibility: ;
    word-wrap: ;
    color: #4C4C4C;
    font: bold 12pt Arial, san-serif ;
}
p{
	color:;
	font-style: ;
	font-family: ;
	font: italic small-caps bold 12px Arial;
	line-height: ;
	

}
label{
	display: block;

}

h2 {
    color: #000000;
    font: bold 12pt Arial, san-serif;
    font-style: bold;
    padding: 0px;
    margin: 0px, 0px, 0px, 0px;
 }
 
 input { /* Added this to provide some margin to the bottom of the input fields. */
	margin-bottom: 10px;
	
 
 }
 
 input[type=submit] {
	
	 -webkit-border-radius: 10%; /* Specific to webkit browsers such as iOS */
	 border-radius: 10%;
	-moz-border-radius: 10%; /* Specific to mozilla browsers such as Firefox */
	 border-radius: 10%;
	 -o-radius: 10%;         /* Specific to Opera browser. */
	 border-radius: 10%;
 }
 
 /* The title bar class adds a gradient for title bar */ 
.title_bar {
    /* appearance: menu; */
    -webkit-appearance:menu;
    text-align: center;
    padding: 0px, 0px, 0px, 0px;
    margin: 0px, 0px, 0px, 0px;
    background-image: 
    -webkit-linear-gradient( /* Specific to webkit browsers such as iOS */
    270deg, /* Tells the browser to render the gradient from top to bottom */
    rgba(0,0,0,0.05) 0,
	rgba(0,0,0,0.15) 25%,
    rgba(0,0,0,0.2) 60%,
    rgba(0,0,0,0.35) 92%,
    rgba(0,0,0,0.35) 98%
    );
	-moz-linear-gradient(  /* Specific to mozilla browsers such as Firefox */
    270deg, 
    rgba(0,0,0,0.05) 0,
	rgba(0,0,0,0.15) 25%,
    rgba(0,0,0,0.2) 60%,
    rgba(0,0,0,0.35) 92%,
    rgba(0,0,0,0.35) 98%
    );
    -o-linear-gradient( /* Specific to Opera browser. */
    270deg, 
     rgba(0,0,0,0.05) 0,
	rgba(0,0,0,0.15) 25%,
    rgba(0,0,0,0.2) 60%,
    rgba(0,0,0,0.35) 92%,
    rgba(0,0,0,0.35) 98%
    );        
}

/* Added this style in to provide some margin along the bottom of the drop down field. */
 .context_drop_down { 
 margin-bottom: 10px; 
 }
 
 /* Some basic formatting for the form. */
 .form {
 padding: 5px;
 
  /* Something I might add in project 2
-webkit-box-shadow:
inset 1px 1px 84px rgba(0,0,0,1),	
inset -1px -1px 84px rgba(0,0,0,0.24),		 
-moz-box-shadow:
inset 1px 1px 84px rgba(0,0,0,0.24),		 
inset -1px -1px 84px rgba(0,0,0,0.24),		 
box-shadow:
inset 1px 1px 84px rgba(0,0,0,0.24),		 
inset -1px -1px 84px rgba(0,0,0,0.24),		 
*/
 
 }
 
 #clear {display: none; margin: 15px;}
 	#clear a {color: #900;}
 #container {
	border: 1px solid black; width: 80%; margin: 20px, auto 0; 
}
#header h1 {
	margin: 0;
	padding: 0;
}
#header h1 a {
	background-color: #ccc;
	border-bottom: 1px solid #666;
	color: #222;
	display: block;
	font-size: 20px;
	font-weight: bold;
	padding: 10px, 0;
	text-align: center;
	text-decoration: none;
	
}

