*/.idea/*,
*.metadata/,
*.metadata/.plugins/*,
*/.metadata/*,
*/org.eclipse.*,
*.settings/*,
*.plugins/*,
*/libraries/*,
.gitignore,
.metadata/.plugins/org.eclipse.core.resources/.history/,
.metadata/.plugins/org.eclipse.core.resources/.projects/ASD/.markers.snap,
.metadata/.plugins/org.eclipse.core.resources/.projects/ASD/.syncinfo.snap,
.metadata/.plugins/org.eclipse.core.resources/.projects/TaskManager/.syncinfo.snap,
.metadata/.plugins/org.eclipse.core.resources/.projects/TaskManager/.markers,
.metadata/.plugins/org.eclipse.core.resources/.projects/TaskManager/.indexes/e4/81/58/88/history.index,
.metadata/.plugins/org.eclipse.core.resources/.projects/ASD/.syncinfo.snap,
.metadata/.plugins/org.eclipse.core.resources/.root/.markers.snap,
.metadata/.plugins/org.eclipse.core.resources/.root/6.tree,
.metadata/.plugins/org.eclipse.core.resources/.root/7.tree,
.metadata/.plugins/org.eclipse.core.resources/.safetable/org.eclipse.core.resources,
.metadata/.plugins/org.eclipse.core.resources/.snap,
.metadata/.plugins/org.eclipse.jdt.core/191415208.index,
.metadata/.plugins/org.eclipse.jdt.ui/dialog_settings.xml,
.metadata/.plugins/org.eclipse.pde.core/.cache/clean-cache.properties,
.metadata/.plugins/org.eclipse.ui.workbench/workbench.xml,
.metadata/.plugins/org.eclipse.core.resources/.projects/ASD/.markers.snap,
.metadata/.plugins/org.eclipse.core.resources/.projects/ASD/.markers.snap,
.metadata/.plugins/org.eclipse.core.resources/.projects/ASD/.syncinfo.snap,
.metadata/.plugins/org.eclipse.core.resources/.projects/TaskManager/.indexes/e4/81/58/88/history.index,
.metadata/.plugins/org.eclipse.core.resources/.projects/TaskManager/.markers,
.metadata/.plugins/org.eclipse.core.resources/.projects/TaskManager/.markers.snap,
.metadata/.plugins/org.eclipse.core.resources/.projects/TaskManager/.syncinfo.snap,
.metadata/.plugins/org.eclipse.core.resources/.projects/TaskManager/org.eclipse.jdt.core/state.dat,
.metadata/.plugins/org.eclipse.core.resources/.root/.markers.snap,
.metadata/.plugins/org.eclipse.core.resources/.root/6.tree,
.metadata/.plugins/org.eclipse.core.resources/.safetable/org.eclipse.core.resources,
.metadata/.plugins/org.eclipse.core.resources/.snap,
.metadata/.plugins/org.eclipse.jdt.core/191415208.index,
.metadata/.plugins/org.eclipse.jdt.ui/dialog_settings.xml,
.metadata/.plugins/org.eclipse.pde.core/.cache/clean-cache.properties,
.metadata/.plugins/org.eclipse.ui.workbench/workbench.xml,
.metadata/.plugins/org.eclipse.core.resources/.projects/TaskManager/.indexes/e4/81/58/88/history.index,
.metadata/.plugins/org.eclipse.core.resources/.projects/TaskManager/.markers,
.metadata/.plugins/org.eclipse.core.resources/.projects/TaskManager/.markers.snap,
.metadata/.plugins/org.eclipse.core.resources/.projects/TaskManager/.syncinfo.snap,
.metadata/.plugins/org.eclipse.core.resources/.root/.markers.snap,
.metadata/.plugins/org.eclipse.core.resources/.root/6.tree,
.metadata/.plugins/org.eclipse.core.resources/.safetable/org.eclipse.core.resources,
.metadata/.plugins/org.eclipse.core.resources/.snap,
.metadata/.plugins/org.eclipse.jdt.core/191415208.index,
.metadata/.plugins/org.eclipse.jdt.ui/dialog_settings.xml,
.metadata/.plugins/org.eclipse.pde.core/.cache/clean-cache.properties,
.metadata/.plugins/org.eclipse.ui.workbench/workbench.xml,
.metadata/.plugins/org.eclipse.core.resources/.projects/TaskManager/.indexes/e4/81/58/88/history.index,
.metadata/.plugins/org.eclipse.core.resources/.projects/TaskManager/.markers,
.metadata/.plugins/org.eclipse.core.resources/.projects/TaskManager/.markers.snap,
.metadata/.plugins/org.eclipse.core.resources/.projects/TaskManager/.syncinfo.snap,
.metadata/.plugins/org.eclipse.core.resources/.root/.markers.snap,
.metadata/.plugins/org.eclipse.core.resources/.root/6.tree,
.metadata/.plugins/org.eclipse.core.resources/.safetable/org.eclipse.core.resources,
.metadata/.plugins/org.eclipse.core.resources/.snap,
.metadata/.plugins/org.eclipse.jdt.core/191415208.index,
.metadata/.plugins/org.eclipse.jdt.ui/dialog_settings.xml,
.metadata/.plugins/org.eclipse.pde.core/.cache/clean-cache.properties,
.metadata/.plugins/org.eclipse.ui.workbench/workbench.xml,
.metadata/.plugins/org.eclipse.core.resources/.projects/TaskManager/.markers,
.metadata/.plugins/org.eclipse.core.resources/.projects/TaskManager/.markers.snap,
.metadata/.plugins/org.eclipse.core.resources/.projects/ASD/.markers.snap,
.metadata/.plugins/org.eclipse.core.resources/.projects/ASD/.syncinfo.snap,
.gitignore