<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>FoundWorkingCopyPaths</key>
	<array>
		<string>/Users/craig/github/mdv-projects/MDF1/June/booker_craig_project3a</string>
	</array>
	<key>LastWorkingCopyScanDate</key>
	<date>2012-10-10T03:09:06Z</date>
	<key>Version</key>
	<integer>3</integer>
</dict>
</plist>
