/* ::::: Main Layout :::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::: */
	  * { max-width: 100%; }


/* ::::: Core Page Layout ::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::: */
	#wrapper-body {
		width: 960px;
	}

	img { border: 0pt none; }
	a {
		text-decoration: none;
		cursor: pointer;
		color: rgb(255, 255, 255);
	}

	td, p, div, span, input, textarea {
		font-family: Arial,Helveltica,sans-serif;
		font-size: 12px; color: rgb(0, 0, 0);
		line-height: 130%; text-align: left;
	}

	body {
		background-color: rgb(255, 255, 255);
		margin: 0px; padding: 0px;
		font-size: 76.1%;
		font-family: Helveltica,Arial;
		color: rgb(255, 255, 255);
	}


	body .about {
		background-color: rgb(0, 0, 0);
		margin: 0px;
		padding: 0px;
		font-size: 76.1%;
		font-family: Helveltica,Arial;
		color: rgb(0, 0, 0);
	}


#head { background: url('../img/head_bg.jpg') repeat-x scroll 0pt 0pt rgb(0, 0, 0); transparent; height: 80px;  }
.gnb { background: url('../img/tskmgrlogo1_2.png') margin: 0px 0pt 0pt 0px; float: left; width: 80px; height: 80px; }
.logo { margin: 0px 0px 0px 0px; background: rgb(0,0,0); float: left; width: 80px; height: 80px;}

/* ::::: Foot ::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::: */

	#foot {
		background: none; rgb(204, 204, 204);
		text-align: center;
		font: 11px Arial;
		color: rgb(255, 255, 255);
		margin: 0px;
		padding: 15px;
		border-bottom: 1px solid rgb(0, 0, 0);
		border-top: 1px solid rgb(0, 0, 0);
	}
	#foot a {
		font-weight: bold;
		font-size: 14px;
		color: rgb(0, 0, 0); }

/* ::::: End - Foot ::::: */

/* ::::: subNav ::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::: */

	#subNav {
		margin: 0px 0px 0px 0px;
		padding: 2px 5px 5px 5px;
	}
	#subNav img {
		width: 100%;
		height: auto;
	}
	#subNav a {
		color: rgb(0,0,0);
	}

/* ::::: End - subNav ::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::: */

/* ::::: Buttons :::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::: */

	.button {
			background: none repeat scroll 0% 0% rgb(252, 133, 12);
			color: rgb(255, 255, 255);
			text-transform: uppercase;
			text-align: center;
			vertical-align: middle;
			letter-spacing: 2px;
			font-size: 9px;
			font-weight: bold;
			padding: 8px 12px 8px 12px;
			display: inline-block;
			border-radius: 4px 4px 4px 4px;
			cursor: pointer;
			font-family: 'Lucida Grande','Lucida Sans Unicode',Verdana,sans-serif;
	}
/* ::::: End - Buttons :::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::: */

/* ::::: End - Main ::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::: */










.title01 { color: rgb(241, 85, 0); font: bold 56px/48px "Helvetica Neue",Arial,Helvetica; margin: 0pt 0pt 32px; padding: 0pt 0pt 0pt 12px; text-transform: uppercase; letter-spacing: -2px; }
.title02 { margin: 10px 0pt 15px; padding: 0pt 12px 0pt 77px; font-weight: bold; font-size: 18px; }
.title03 { margin: 10px 0pt 15px; padding: 0pt 12px 0pt 77px; font-weight: bold; font-size: 18px; }

.contents { padding-left: 40px; margin-bottom: 30px; font-size: 14px; padding-right: 12px; }
.contents span { color: rgb(241, 85, 0); }

.subtitle01 { float: left; margin-left: 12px; margin-top: 18px; }
.subtitle02 { margin-top: 18px; float: right; width: 80px; text-align: center; font-weight: bold; color: rgb(241, 85, 0); font-size: 14px; }



/* ::::: Sample ::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::: */
/* ::::: End - Sample ::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::: */


/* ::::: Buttons :::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::: */

    .button {
        background: none repeat scroll 0% 0% rgb(153, 0, 0);
        color: rgb(255, 255, 255);
        text-transform: uppercase;
        letter-spacing: 2px;
        font-size: 9px;
        font-weight: normal;
        margin: 5px 5px 5px 5px;
        padding: 8px 12px;
        display: inline-block;
        border-radius: 4px 4px 4px 4px;
        cursor: pointer;
        font-family: 'Lucida Grande','Lucida Sans Unicode',Verdana,sans-serif; }



/* ::::: End - Buttons :::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::: */


/* ::::: Lists :::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::: */
	.listtype { margin: 0pt; padding: 0pt; }

	.listtype li {
		height: 80px;
		margin: 0px 0px 0px 0px;
		padding: 0px 0px 0px 0px;
		list-style: none outside none;
		background: rgb(255, 255, 255);
		color: rgb(0, 0, 0);

	}

	.listtype a {
		background: rgb(255, 255, 255);
		position: relative;
		display: block;
		height: 10px;
		padding: 0pt 0px 0pt 0px;
		text-transform: uppercase;
		text-align: center;
		letter-spacing: 2px;
		font-size: 14px;
		font-weight: bold;
		color: rgb(0,0,0);
	}

	.listtype img {
		position: absolute;
		left: 12px;
		top: 12px;
	}

	.listtype em {
		display: block;
		font: 12px Arial;
		color: rgb(131, 131, 131);
	}
	.listtype .light, .listtype .light a {
		background: rgb(204, 204, 204);
		height: 15px;
		width: 100%;
		text-transform: uppercase;
		text-align: center;
		letter-spacing: 2px;
		font-size: 14px;
		font-weight: bold;
		color: rgb(255, 255, 255);
		margin: 0px 0px 0px 0px;
		padding: 0px 0px 0px 0px;
		display: inline-block;
		border-bottom: 1px solid rgb(0, 0, 0);
	}
	div#contentNav .listtype .ui-bar-divider {
		background: rgb(204, 204, 204);
		height: 15px;
		width: 100%;
		text-transform: uppercase;
		text-shadow: 0px 1px 0px rgb(25, 25, 25);
		text-align: center;
		vertical-align: middle;
		letter-spacing: 2px;
		font-size: 14px;
		font-weight: bold;
		color: rgb(255, 255, 255);
		margin: 0px 0px 0px 0px;
		padding: 0px 0px 0px 0px;
		display: inline-block;
		border-bottom: 1px solid rgb(0, 0, 0);
		border-top: 1px solid rgb(0, 0, 0);
	}
/* ::::: End - Lists :::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::: */


/* ::::: Form Elements :::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::: */

#addTaskForm .textbox {
	margin: 0px 0px 0px 30px;
	padding: 0px 0px 0px 40px;

}


/* ::::: End - Form Elements :::::::::::::::::::::::::::::::::::::::::::::::::::::::::: */


