

/* :::::   SELF-CLEARING FLOATS ::::::::::::::::::::::::::::::::::::::::::::::::::::::: */

.mod:after,
.entry:after,
li.comment:after,
li.day:after,
ul.thumbs:after,
#toc:after,
#epilogue:after {
	content: ".";
	display: block;
	height: 0;
	clear: both;
	visibility: hidden;
}

/* :::::   END - SELF-CLEARING FLOATS ::::::::::::::::::::::::::::::::::::::::::::::::: */


/* ::::: Main Layout :::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::: */

/* ::::: BASE STYLES :::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::: */
body {
	background-color: #FFFFFF;
	background-repeat: no-repeat;
	background-position: 50% 0;
	color: #000000;
	font: normal 1em/1.5 "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-weight: 300;
	margin: 0;
	padding: 0;
}
a {
	color: #5DDAFF;
	text-decoration: underline;
}
a:hover,
a:focus {
	color: #39C;
	text-decoration: none;
}
a:active,
a:focus {
	background-color: #000;
}
a.sub {
	color: #8DFCC7;
	font-weight: bold;
}
a.sub:hover,
a.sub:focus {
	color: #3C9;
}


/* ::::: Change log ::::::::::::::::::::::::::::::::::::::::::::::::::::::::: */
		body {

			list-style: none; /*  Did not add this in. */
		}



/* ::::: Layout ::::::::::::::::::::::::::::::::::::::::::::::::::::::::: */
#page {
	background: url("../img/bg.jpg") no-repeat 50% 126px;
	margin: 0 auto;
	max-width: 75em;
	position: relative;
}

body.sect-home #page {
	background-position: 50% 156px;
}
#logo,
#toc,
#content,
#epilogue {
	clear: both;
	margin: 0 auto;
	width: 95%;
}
/* ::::: Title ::::::::::::::::::::::::::::::::::::::::::::::::::::::::: */

#title {
	position: absolute;
	left: -1000em;
}

/* ::::: END - Title ::::::::::::::::::::::::::::::::::::::::::::::::::::::::: */
/* ::::: Logo ::::::::::::::::::::::::::::::::::::::::::::::::::::::::: */

/* ::::: END - Logo ::::::::::::::::::::::::::::::::::::::::::::::::::::::::: */
/* ::::: Navigation ::::::::::::::::::::::::::::::::::::::::::::::::::::::::: */
#toc {
	margin-bottom: 2em;
}
#toc a {
	background-position: 50% 0;
	background-repeat: no-repeat;
	display: block;
	height: 104px;
	overflow: hidden;
	opacity: 0.6;
	text-align: center;
	text-indent: -1000em;
}
#toc a:hover,
#toc a:active,
#toc a:focus {
	background-color: inherit;
	opacity: 1.0;
}
li#nav-home a {
	background-image: url("../img/nav-home.png");
}
li#nav-journal a {
	background-image: url("../img/nav-portfolio.png");
}
li#nav-about a {
	background-image: url("../img/nav-about.png");
}

li#nav-contact a {
	background-image: url("../img/nav-contact.png");
}
body.sect-home li#nav-home,
body.sect-portfolio li#nav-portfolio,
body.sect-about li#nav-about,
body.sect-contact li#nav-contact {
	background: url("../img/nav-active.png") no-repeat 50% 60px;
	left: 41.143%;		/* 288px / 700px = 0.41143 */
	position: absolute;
	top: 0;
}

body.sect-home li#nav-home a,
body.sect-about li#nav-about a,
body.sect-portfolio li#nav-portfolio a,
body.sect-contact li#nav-contact a {
	background-position: 50% -104px;
	cursor: default;
	opacity: 1.0;
}
body.sect-home li#nav-portfolio,
body.sect-about li#nav-portfolio,
body.sect-contact li#nav-about {
	margin-right: 23.429%;		/* 164px / 700px = 0.23429 */
}

/* ::::: END - Navigation ::::::::::::::::::::::::::::::::::::::::::::::::::::::::: */
/* ::::: Content ::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::: */
.mod {
	background: url("../img/fade.png") no-repeat 50% 100%;
	padding-bottom: 3em;	/* 48px / 16px = 3em */
	margin-bottom: 4em;	/* 60px / 16px = 3.75em */
}
.last-mod {
	background: none;
	margin-bottom: 2em;
	padding-bottom: 1em;
}
.mod .main {
	float: right;
	width: 85.339%;	/* 844px / 989px = 0.85339 */
}
/* ::::: END - Content :::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::: */
/* ::::: Footer ::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::: */
#footer {
	background: url("../img/footer.png") no-repeat 50% 160px;
	font-size: 0.625em;	/* 10px / 16px = 0.625 */
	min-height: 279px;
	padding-top: 160px;
	text-align: center;
	position: relative;
}
#footer p,
#footer ul {
	font-size: 1.2em;	/* 12px / 10px = 1.2 */
	opacity: 0.5;
}
#footer h1 {
	font-weight: normal;
	letter-spacing: 0.1em;
	margin-bottom: 0.25em;
	padding: 1.6em 0 0.5em;
}
#footer h1 a {
	display: block;
	margin: 1em auto 0;
}
#footer h2 {
	font-size: 1.1em;	/* 11px / 10px = 1.1 */
	font-weight: normal;
	letter-spacing: 0.1em;
	margin-bottom: 1em;
	text-transform: uppercase;
}
/* ::::: End - Footer ::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::: */


	/* ::::: Footer ::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::: */

		.foot {
			background: rgb(204, 204, 204);
			position: relative;
			text-align: center;
			font: 11px Arial;
			color: rgb(0, 0, 0);
			margin: 5px 0 0 0;
			padding: 15px 0 15px 0;
			border-bottom: 1px solid rgb(0, 0, 0);
			border-top: 1px solid rgb(0, 0, 0);
		}
		.foot a {
			font-weight: bold;
			font-size: 14px;
			color: rgb(0, 0, 0); }

	/* ::::: End - Footer ::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::: */

	/* ::::: subNav ::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::: */

		.subNav {
			margin: 0 0 0 0;
			padding: 2px 5px 5px 5px;
			color: rgb(0,0,0);

		}
		.subNav img {
			width: 100;
			height: auto;
		}


	/* ::::: End - subNav ::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::: */

	/* ::::: Buttons :::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::: */

		.button {
				background: none repeat scroll 0 0 rgb(252, 133, 12);
				color: rgb(255, 255, 255);
				text-transform: uppercase;
				text-align: center;
				vertical-align: middle;
				letter-spacing: 2px;
				font-size: 9px;
				font-weight: bold;
				padding: 8px 12px 8px 12px;
				display: inline-block;
				border-radius: 4px 4px 4px 4px;
				cursor: pointer;
				font-family: 'Lucida Grande','Lucida Sans Unicode',Verdana,sans-serif;
		}
	/* ::::: End - Buttons :::::::::::::::::::::::::::::::::::::::::::::::::::::::::::: */

/* ::::: End - Core Page Layout ::::::::::::::::::::::::::::::::::::::::::::::::::::::: */


/* ::::: Titles ::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::: */

	h1 {
		color: rgb(241, 85, 0);
		font: bold 56px "Helvetica Neue",Arial,Helvetica;
		margin: 10 0 32px 0;
		padding: 0 0 0 12px; text-transform: uppercase; letter-spacing: -2px; }
	h2 {
		margin: 10 0 15px 0;
		padding: 0 12px 0 20;
		font-weight: bold;
		font-size: 18px;
	}
	h3 {
		margin: 10 0 15px 0;
		padding: 0 0 0 20;
		font-weight: bold;
		font-size: 18px;
	}

	.contents {
		padding-left: 40;
		margin-bottom: 30;
		font-size: 14px;
		padding-right: 12px;
	}
	.contents span { color: rgb(241, 85, 0); }

	.subtitle01 { float: left; margin-left: 12px; margin-top: 18px; }
	.subtitle02 { margin-top: 18px; float: right; width: 80; text-align: center; font-weight: bold; color: rgb(241, 85, 0); font-size: 14px; }



/* ::::: End - Titles ::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::: */


/* ::::: Buttons :::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::: */

    .button {
        background: none repeat scroll 0 0 rgb(153, 0, 0);
        color: rgb(255, 255, 255);
        text-transform: uppercase;
        letter-spacing: 2px;
        font-size: 9px;
        font-weight: normal;
        margin: 5px 5px 5px 5px;
        padding: 8px 12px;
        display: inline-block;
        border-radius: 4px 4px 4px 4px;
        cursor: pointer;
        font-family: 'Lucida Grande','Lucida Sans Unicode',Verdana,sans-serif; }



/* ::::: End - Buttons :::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::: */


/* ::::: Lists :::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::: */
	.listtype { margin: 0; padding: 0; }

	.listtype li {
		margin: 0 0 0 0;
		padding: 0 0 0 0;
		list-style: none outside none;
		background: rgb(255, 255, 255);
		color: rgb(0, 0, 0);

	}

	.listtype a {
		background: rgb(255, 255, 255);
		position: relative;
		display: block;
		padding: 5px 0 0 0;
		text-transform: uppercase;
		text-align: center;
		letter-spacing: 2px;
		font-size: 14px;
		font-weight: bold;
		color: rgb(0,0,0);
	}
	.nf-demo {
		background: rgb(255, 255, 255);
		position: absolute;
		left: 15px;
		display: block;
		padding: 5px 0 0 0;
		text-transform: uppercase;
		text-align: left;
		letter-spacing: 2px;
		font-size: 14px;
		font-weight: bold;
		color: rgb(0,0,0);
		list-style: none;
	}
	.listtype img {
		position: absolute;
		left: 12px;
		top: 12px;
	}

	.listtype em {
		display: block;
		font: 12px Arial;
		color: rgb(131, 131, 131);
	}
	.listtype .light, .listtype .light a {
		background: rgb(204, 204, 204);
		text-transform: uppercase;
		text-align: center;
		letter-spacing: 2px;
		font-size: 14px;
		font-weight: bold;
		color: rgb(255, 255, 255);
		margin: 0 0 0 0;
		padding: 0 0 0 0;
		display: inline-block;
		border-bottom: 1px solid rgb(0, 0, 0);
	}
	.listtype .ui-bar-divider {
		background: rgb(204, 204, 204);
		text-transform: uppercase;
		text-shadow: 0 1px 0 rgb(25, 25, 25);
		text-align: center;
		vertical-align: middle;
		letter-spacing: 2px;
		font-size: 14px;
		font-weight: bold;
		color: rgb(255, 255, 255);
		margin: 0 0 0 0;
		padding: 0 0 0 0;
		display: inline-block;
		border-bottom: 1px solid rgb(0, 0, 0);
		border-top: 1px solid rgb(0, 0, 0);
	}
/* ::::: End - Lists :::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::: */


/* ::::: Form Elements :::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::: */

/* #addTaskForm  */

.textbox {
	margin: 0 0 0 30;
	padding: 0 0 0 40;

}


/* ::::: End - Form Elements :::::::::::::::::::::::::::::::::::::::::::::::::::::::::: */


