/* ::::: 480 MEDIA QUERY ::::: */

	@media screen and (max-width: 480px) {
	/* ::::: Core Page Layout ::::::::::::::::::::::::::::::::::::::::::::::::::::::::: */
		body {
			background-color: rgb(255, 255, 255);
			margin: 0 0 0 0;
			padding: 0 0 0 0;
			font-size: 76.1%;
			font-family: Helveltica,Arial;
			color: rgb(0, 0, 0);
			list-style: none;
		}
		#wrapper-body {
			width: 960px;
			height: 100%;
			position: absolute;
			top: 81px;
		}

		footer {
			width: 100%;
		}
		img { border: 0pt none; }
		a {
			text-decoration: none;
			color: rgb(255, 255, 255);
		}

		td, p, div, span, input, textarea {
			font-family: Arial,Helveltica,sans-serif;
			font-size: 12px;
			color: rgb(0, 0, 0);
			line-height: 130%;
			text-align: left;
		}
	/* ::::: Header ::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::: */

		header {
			width: 100%;
		}
		#head {
			background: url('img/head_bg.jpg'); repeat-x scroll 0pt 0pt rgb(0, 0, 0); transparent;
			margin: 0 0 0 0;
			padding: 0 0 0 0;
			position: absolute;
			left: 0;
			top: 0;

		}
	.topNav {
			margin: 0 0 0 0;
			padding: 0 0 0 0;

	}
	.logo {
		margin: 0 0 0 0;
		background: rgb(0,0,0);
		position: absolute;
		left: 0;
		width: 80px;
		height: 80px;
	}
	/* ::::: End - Header ::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::: */

	/* ::::: Footer ::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::: */

		#foot {
			background: rgb(204, 204, 204);
			position: relative;
			text-align: center;
			font: 11px Arial;
			color: rgb(0, 0, 0);
			margin: 5px 0 0 0;
			padding: 15px 0 15px 0;
			border-bottom: 1px solid rgb(0, 0, 0);
			border-top: 1px solid rgb(0, 0, 0);
		}
		#foot a {
			font-weight: bold;
			font-size: 14px;
			color: rgb(0, 0, 0); }

	/* ::::: End - Footer ::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::: */

	/* ::::: subNav ::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::: */

		#subNav {
			margin: 0 0 0 0;
			padding: 2px 5px 5px 5px;
		}
		#subNav img {
			width: 100%;
			height: auto;
		}
		#subNav a {
			color: rgb(0,0,0);
		}

	/* ::::: End - subNav ::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::: */
	div#contentNav .listtype .ui-bar-divider {
		background: rgb(204, 204, 204);
		height: 15px;
		width: 100%;
		text-transform: uppercase;
		text-align: center;
		vertical-align: middle;
		letter-spacing: 2px;
		font-size: 9px;
		font-weight: bold;
		color: rgb(255, 255, 255);
		padding: 10px 12px 18px 22px;
		display: inline-block;

	}

	/* ::::: Buttons ::::: */

		.button {
			background: rgb(153, 0, 0);
			color: rgb(255, 255, 255);
			height: 20px;
			width: 100px;
			text-transform: uppercase;
			letter-spacing: 2px;
			font-size: 9px;
			font-weight: normal;
			margin: 5px 5px 5px 5px;
			padding: 8px 5px 5px 5px;
			display: inline-block;
			border-radius: 4px 4px 4px 4px;
			cursor: pointer;
			text-align: center;
			font-family: 'Lucida Grande','Lucida Sans Unicode',Verdana,sans-serif; }

	/* ::::: End - Buttons ::::: */

	/* ::::: Lists ::::: */
	.listtype { margin: 0pt; padding: 0pt; }

	.listtype li { height: 94px; margin: 0pt; padding: 0pt; list-style: none outside none; background: rgb(255, 255, 255); color: rgb(0, 0, 0); }
	.listtype a {
		position: relative;
		display: block;
		height: 80px;
		padding: 0pt 25px 0pt 125px;
		text-transform: uppercase;
		text-align: center;
		letter-spacing: 2px;
		font-size: 14px;
		font-weight: bold;
		color: rgb(0,0,0);
		padding: 25px 12px 18px 22px;



		}

	.listtype img { position: absolute; left: 12px; top: 12px; }
	.listtype strong { margin: 12px 0pt 1px; text-shadow: 0 1px 0 rgb(25, 25, 25); display: inline-block; font: bold 18px Arial; color: rgb(153, 153, 153); }
	.listtype em { display: block; font: 12px Arial; color: rgb(131, 131, 131); }

	.listtype .light a { color: rgb(255, 255, 255);
		background: rgb(204, 204, 204);
		height: 15px;
		width: 100%;
		text-transform: uppercase;
		text-align: center;
		letter-spacing: 2px;
		font-size: 14px;
		font-weight: bold;
		color: rgb(255, 255, 255);
		margin: 0 0 0 0;
		padding: 25px 12px 18px 22px;
		display: inline-block;

	}

	div#contentNav .listtype .ui-bar-divider {
		background: rgb(204, 204, 204);
		height: 15px;
		width: 100%;
		text-transform: uppercase;
		text-align: center;
		letter-spacing: 2px;
		font-size: 12px;
		font-weight: bold;
		color: rgb(255, 255, 255);
		margin: 0 0 0 0;
		padding: 10px 0 18px 0;
		display: inline-block;

	}
	/* ::::: End - Lists ::::: */

}
/* ::::: End - 480 Media Query ::::: */